<script>
import draggable from 'vuedraggable'
export default {
  data () {
    return {
      columns: [
        { width: 2 },
        { width: 3 },
        { width: 4 }
      ]
    }
  },
  components: {
    draggable
  },
  render (h) {
    const buildColumn = (column, index) => {
      const result = (
        <v-col md={ column.width } cols="auto">
          <v-card>
            <v-row>
              <v-col>
                <v-icon class="handle">mdi-drag</v-icon>
              </v-col>
              <v-col>
                { index }
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      )
      return result
    }
    return (
      <v-container>
        <draggable handle=".handle" onEnd={ () => this.$emit('update-order', this.columns) } list={this.columns} tag="v-row" >
          { this.columns.map((column, index) => buildColumn(column, index)) }
        </draggable>
      </v-container>
    )
  }
}
</Script>
